<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tower">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".AccountSettings"></activity>
        <activity
            android:name=".ConditionDescription"
            android:theme="@style/noAnimTheme" />
        <activity android:name=".Settings" />
        <activity
            android:name=".AddBookFinal"
            android:theme="@style/noAnimTheme" />
        <activity
            android:name=".GoogleSuggestions"
            android:theme="@style/noAnimTheme" />
        <activity
            android:name=".SpecificTextbook"
            android:theme="@style/noAnimTheme" />
        <activity
            android:name=".AddBook"
            android:theme="@style/noAnimTheme"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".ProfileLogin" />
        <activity
            android:name=".Profile"
            android:theme="@style/noAnimTheme"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Search"
            android:theme="@style/noAnimTheme"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/noAnimTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>